@import url('https://fonts.googleapis.com/css2?family=Quantico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

.app {
    height: 100vh;
}

.ui.menu li.item:hover {
    cursor: pointer;
    background: rgba(0,0,0,.03);
    color: rgba(0,0,0,.95);
}
/* SignIn.js */

.signin-page {
    width: 360px;
    margin: auto;
    padding: 8% 0 0;
}

.signin-form {
    border: 1px solid gray;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    padding: 40px;
}

.signin-form input {
    width: 100%;
    color: rgb(177, 177, 177);
    font-size: 14px;
    border: 0;
    padding: 15px;
    margin: 0 0 15px;
    border: 1px solid gray;
}

.signin-form button {
    background: rgb(177, 177, 177);
    width: 100%;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid gray;
    padding: 15px;
    letter-spacing: 2px;
}

/* Notes.js*/
.notes-container {
    padding-top: 10px;
}

.note {
    border: 1px solid #d4d4d5;
    padding: 10px;
    margin-bottom: 10px;
}

.notes-header {
    padding-bottom: 10px;
}

.notes-category {
    font-family: 'Quantico', sans-serif;
}

.notes-title > h2 > span {
    cursor: pointer;
}

.notes-title > h2 {
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgb(78, 78, 78);
}

.notes-timestamp {
    font-family: 'Quantico', sans-serif;
    color: rgb(131, 131, 131);
}

.ui.basic.blue.button, .ui.basic.blue.buttons .button, .ui.basic.red.button, .ui.basic.red.buttons .button {
    padding: 2px 22px 2px 22px;
    opacity: 55%;
    margin-top: 10px;
}

.ql-syntax {
    background: rgba(40, 41, 40);
    color: rgb(233, 233, 233);
    padding: 10px;
    border: 1px solid rgb(0, 0, 0);
    font-family: 'Fira Code', monospace;
    overflow-x: scroll;
}

/* NewNote.js && EditNote.js*/

.newnote-editnote-header {
    padding-top: 10px;
}

.ui .input {
    padding-bottom: 2px;
    width: 100%;
}

.ui.input > input {
    border-radius: 0;
}

.ql-toolbar.ql-snow {
    margin-top: 2px;
    margin-bottom: 2px;
    border: 1px solid rgba(34,36,38,.15)
}

.ql-container .ql-snow {
    border: 1px solid rgba(34,36,38,.15)
}

.ui.basic.green.button, .ui.basic.green.buttons .button {
    margin-top: 10px;
}